body {
  background-color: #EDEDED !important;
}

.section-header {
  font-family: 'Atari';
  font-size: 3em;
}

.title {
  padding-top: 40vh;
}

img {
  margin-top: 35%;
  margin-bottom: 5vh;
}

.section-header.why {
  padding-top: 5vh;
}

.description {
  font-size: 1em;
  margin: 5vh 30vw 0 30vw;
}

/* #region mobile version */
@media screen and (max-width: 900px){

.section-header {
  font-family: 'Atari';
  font-size: 1.5em;
}

.description {
  font-size: 1em;
  margin: 5vh;
}

/* #endregion mobile version */
