.third-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.third-section .imgContainer img {
  border-radius: 10px;
}

.fourth-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
