@font-face {
  font-family: Ubuntu Regular;
  src: url(Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(Lato/Lato-Light.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100;
}

p {
  font-size: calc(0vw + 1rem);
  font-family: "Lato", Arial;
  letter-spacing: 0;
}

/* Main page container */
.mainPageContainer{
  /* padding: 60px 15% 60px 15%; */
  width: auto;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 0;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  -webkit-animation: fadein 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s ease; /* Firefox < 16 */
        -ms-animation: fadein 1.5s ease; /* Internet Explorer */
         -o-animation: fadein 1.5s ease; /* Opera < 12.1 */
            animation: fadein 1.5s ease;
}

@keyframes fadeindown  {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.flex-item {
  position: relative;
  width: 500px;
  height: 650px;
  object-fit: cover;
  margin: 0;
  z-index: 0;
  overflow: hidden;
  align-content: center;
  display: flex;
  border-radius: 0px;
  -webkit-transition-duration: .4s; /* Safari */
  transition-duration: .4s;
  cursor: pointer;
}

.flex-item p {
  text-align: left;
}

.flex-img {
  background-color: #f2ede4;
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: 500px;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
  border-radius: 10px;
  -webkit-transition-duration: .4s; /* Safari */
  transition-duration: .4s;
}

.txtContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  overflow: hidden;
  width: 100%;
  height: 150px;
  transition: .6s ease;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  opacity: 0.8;
  z-index: 0;
}

.txt {
  color: black;
  font-size: 20px;
  padding: 8px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  letter-spacing: 0;
  z-index: 0;
  font-weight: lighter;
}

.h1 {
  color: black;
  font-size: 1rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  font-family: "Lato", Arial;
  letter-spacing: .1em;
  text-align: left;
  z-index: 0;
  line-height: 1.8;
}

.h2 {
  font-size: calc(.36vw + 1rem);
  line-height: 1.452;
  font-family: "Ubuntu Regular", Arial;
  font-weight: 400;
  letter-spacing: .1em;
  text-align: left;
}

.header {
  font-size: calc(.96vw + 1rem);
  line-height: 1.452;
  font-family: "Ubuntu Regular", Arial;
  font-weight: 400;
  letter-spacing: .1em;
  text-align: left;
  width: 100%;
}

.headerContainer {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}

.row {
  display: flex;
  padding: 100px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding-left: 50px;
  align-items: center;
  align-content: center;
  padding-right: 50px;
  padding-top: 100px;
  margin: 50px;
  height: 400px; /* Should be removed. Only for demonstration */
}

.column p {
  align-self: center;
  vertical-align:

}

model-viewer {
  margin: auto;
  height: 100%;
  width: 100%;
  border: none;
}

.first-section {
  border: none;
}

.first-section .column {
  float: left;
  padding: 80px;
  padding-left: 12vw;
}

.first-section .left {
  width: 60%;
  height: 100%;
}

.first-section .right {
  width: 40%;
  height: 100%;
  align-items: center;
  padding: 0;
}
