html {
  cursor: url("cursors/cursor_circle.svg") 5 5, auto;
  background-image: url("backgrounds/montage_gif_2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body{
  margin: 0;
  padding: 0;
  background-color: none;

  animation-name: fade-in;
  animation-duration: 1.5s;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/* Main page container */

.mainPageContainer {
  background-color: none;
  margin: auto;
  text-align: left;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: 10%;
  margin-right: 20%;
}

.buttonProjects p {
  font-size: calc(.12vw + 1rem);
  font-weight: 500;
  line-height: 1.8;
}

.buttonProjects p:hover {
  color: white;
}

.intro p {
  font-size: calc(.96vw + 1rem);
  line-height: 1.452;
  font-style: normal;
  text-transform: none;
  font-weight: 400;
}

.low-consumption p {
  font-weight: 400;
  letter-spacing: .1em;
  opacity: .5;
  font-size: 1rem;
  font-style: italic;
}

/* #region mobile version */
@media screen and (max-width: 900px){

html {
  background-image: none;
  background-color: #D7C9AF;
}

.mainPageContainer {
  width: 100%;
  margin: 0;
  margin-top: 10vh;
  padding: 7%;
  left: 0;
  right: 0;
  top: 0;
  transform: none;
}

.intro p {
  font-size: 2em;
  letter-spacing: .05em;
  color: white;
}

#title, #icon, .low-consumption {
  color: white !important;
}

.buttonProjects {
  color: white;
}

/* #endregion mobile version */
