@font-face {
  font-family: Ubuntu Regular;
  src: url(Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(Lato/Lato-Light.ttf);
}

html {
  cursor: url("cursors/cursor_circle.svg") 5 5, auto;
  background-image: url("backgrounds/montage_gif_2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body{
  margin: 0;
  padding: 0;
  background-color: none;

  animation-name: fade-in;
  animation-duration: 1.5s;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

p {
  font-size: calc(0vw + 1rem);
  font-family: "Lato", Arial;
  font-weight: 300;
  letter-spacing: .1em;
}

/* Main page container */

.mainPageContainer {
  background-color: none;
  margin: auto;
  text-align: left;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: 10%;
  margin-right: 20%;
}



.buttonProjects p {
  font-size: calc(.12vw + 1rem);
  text-decoration: underline;
  font-family: "Ubuntu Regular", Arial;
  font-weight: 300;
  line-height: 1.8;
}

.buttonProjects p:hover {
  font-weight: 500;
  color: white;
  text-decoration: underline;
}

.intro p {
  font-size: calc(.96vw + 1rem);
  line-height: 1.452;
  font-family: "Ubuntu Regular", Arial;
  font-style: normal;
}

/* Circle cursor */
.circle {
	position: absolute;
  border: solid 1px none;
  background-color: #f2ede4;
	width: 50px;
	height: 50px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in;
  transition-property: background,transform, cursor;
}
