/* #region topSection */

.slide-one, .slide-two, .slide-three {
  height: 1000px;
  border: 1px solid black;
}

.topSection {
  height: 95vh;
  /*border: 1px solid black;*/
  padding: 20vh 7vw 10vh 7vw;
}

.topSection p {
  color: white;
  filter: invert(1) grayscale(1);
  font-size: 1.4rem;
}

.topSection hr {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0;
}


.topSection h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 100%;
  width: 80%;
  margin: 0;
  color: white;
  filter: invert(1) grayscale(1);
}


.studio {
  margin-top: 10vh;
}

.studio, .material-icons, .UX-UI {
  font-size: 1.1rem !important;
  line-height: 100%;
  font-weight: 300;
}

.studio:hover, .UX-UI {
  cursor: pointer;
}

.icon-studio { margin-left: 5px; }

.goDown {
  font-size: 2.5rem !important;
  position: absolute;
  bottom: 10vh;
  color: white;
  filter: invert(1) grayscale(1);
}

/* #endregion topSection */

.column {
  float: left;
}

.big, .small {
  height: 100%;
  padding-right: 1vw;
  margin-bottom: 7vh;
}

.big {
  width: 60%;
}

.small {
  width: 40%;
}

.productSection h3, .uxSection h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  margin: 3vh 0 0 0;
  color: white;
  mix-blend-mode: difference;
}

.productSection p, .uxSection p {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  color: white;
  mix-blend-mode: difference;
  filter: opacity(.5);
}

.project {
  height: 60vh;
  width: 100%;
}
.project img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: flex;
  margin: auto;
}
.project:hover, h3:hover {
  cursor: pointer;
}


/* #region productSection */

.productSection {
  height: 100%;
  /*border: 1px solid black;*/
  padding: 0 7vw 15vh 7vw;
}

.printTwist {
  background-color: #D7B9B9;
}
.printTwist img {
  transform: scale(1.2);
}

.aquaponics { background-color: #D9F0F3; }
.aquaponics img { max-width: 100%; }

.stockeRecycle { background-color: #E0EBDE; }

.repairGo { background-color: #F1ECD8; }

.pushPour { background-color: #F2D3D3; }
.pushPour img { transform: rotate(-10deg) scale(.9); }

.givebox { background-color: #F3E5D3; }

/* #endregion productSection */

/* #region uxSection */

.uxSection {
  height: 100%;
  padding: 0 7vw 10vh 7vw;
}

.greener { background-color: #ABD1B6; }
.greener img {
  width: 100%;
  object-position: bottom;
}

.repair { background-color: #91B1CF; }
.repair img {
  width: 100%;
  transform: scale(.8);
}

.FixMeUp { background-color: #9EB3E0; }
.FixMeUp img {
  width: 100%;
  transform: scale(.8);
}

.community { background-color: #9AC6E7; }
.community img {
  width: 100%;
  object-position: right;
}

.uxFirst h3, .uxFirst p, .uxSecond h3, .uxSecond p {
  color: white;
}

/* #endregion uxSection */

/* #region mobile version */
@media screen and (max-width: 1110px){

  .nav-bar-mobile {
    top: 50%;
  }

  .overlay{
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1;
  }

  li a {
    font-size: 2rem;
    text-align: left;
    padding: 2vh;;
  }

  #title {
    font-size: 1.2rem;
  }

  .nav-bar {
    width: 100%;
    padding: 2.5vh 7vw 2.5vh 7vw;
    position: fixed;
  }

  .nav-bar .icon {
    display: flex;
    transform: scale(1.4);
  }

  .goDown {
    font-size: 2.5rem !important;
    position: absolute;
    bottom: 15vh;
  }

  .topSection {
    height: 95vh;
    padding-top: 15vh;
  }

  .column {
    float: left !important;
  }

}

@media screen and (max-width: 900px){

  .topSection {
    height: 100vh;
    padding-top: 15vh;
  }

  .topSection h1 {
    width: 100%;
    font-size: 2.5rem;
  }

  p { font-size: 1rem !important; }

  .studio { margin-top: 10vh; }

  .column { float: none; }

  .big, .small {
    width: 100%;
    margin-bottom: 4vh;
  }

  .big img, .small img {
    max-width: 100%;
  }

  .project {
    height: 100%;
  }

  .printTwist img {
    transform: none;
  }

  .FixMeUp img {
    height: 350px;
    transform: scale(.95);
  }

  .repair img {
    height: 350px;
    transform: scale(.95);
  }

  .productSection {
    padding-bottom: 10vh;
  }

  .productSection h3, .uxSection h3 {
    margin: 2vh 0 0 0;
  }

  .studio, .material-icons, .UX-UI {
    font-size: 1.4rem !important;
    line-height: 100%;
  }

  .goDown {
    font-size: 2.5rem !important;
    position: absolute;
    bottom: 5vh;
  }

}

/* #endregion mobile version */
