html {
  cursor: url("cursors/cursor_circle.svg") 5 5, auto;
}

body{
  margin: 0;
  padding: 0;
  background-color: none;
  animation-name: fade-in;
  animation-duration: 1.5s;
  background-image: url("backgrounds/background-green-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center; /* Center the image */
}

/* Main page container */
.mainPageContainer{
  padding: 60px 7% 60px 7%;
  width: 100%;
  height: 100%;
  background-color: none;

  -webkit-animation: fadein 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s ease; /* Firefox < 16 */
        -ms-animation: fadein 1.5s ease; /* Internet Explorer */
         -o-animation: fadein 1.5s ease; /* Opera < 12.1 */
            animation: fadein 1.5s ease;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes fadeindown  {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* #region columns */

.column {
  float: left;
  /*border: blue solid 1px;*/
  margin: 0;
  padding: 0;

  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.left {
  width: 50%;
  margin: 0;
  padding: 0;
}

.right {
  width: 50%;
  margin: 0;
  padding: 0;
  margin-top: 50vh;
}
/* #endregion columns */

/* #region intro */
.header {
  font-size: calc(.96vw + 1rem);
  line-height: 1.452;
  font-weight: 400;
  letter-spacing: .1em;
}

.intro {
  padding: 20vh 7vw 10vh 7vw;
  max-width: 100%;
  height: auto;
  text-align: left;
  align-items: left;
  align-content: left;
  justify-content: left;
}
/* #endregion intro */

/* #region flex item */

.flex-item {
  position: relative;
  display: block;
  width: 500px;
  height: 100%;
  margin: 12vh 0 12vh 0;
  overflow: hidden;
  border-radius: 0px;
  -webkit-transition-duration: .4s; /* Safari */
  transition-duration: .4s;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
}

.flex-item p {
  text-align: left;
}

.flex-img {
  background-color: #f2ede4;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: -4;
  -webkit-transition-duration: .4s; /* Safari */
  transition-duration: .4s;
}

.imgContainer {
  height: 100%;
  width: 100%;
}

.txtContainer {
  width: 100%;
  height: auto;
  transition: .6s ease;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  opacity: 0.8;
  z-index: 0;
}

.txt {
  color: black;
  font-size: 20px;
  padding: 8px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  letter-spacing: 0;
  z-index: 0;
}

.h2 {
  font-weight: 500;
  letter-spacing: .1em;
  font-size: 1.6rem;
}

.h3 {
  font-weight: 400;
  letter-spacing: .1em;
  opacity: .5;
  font-size: 1rem;
  font-style: italic;
}


/* white font under circle */
.txtContainer:hover .txt, .txtContainer:hover .h2{
  color: white;
  -webkit-transition-duration: .2s; /* Safari */
  transition-duration: .2s;
  cursor: none;
}
/* #endregion flex item */

    .imgContainer .image-hover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: cover;
      opacity: 0;
      transition: opacity .2s;
    }
    .imgContainer:hover .image-hover {
      opacity: 1;
    }
    .imgContainer:hover .image-main {
      opacity: 0;
    }

/* #region button go to top */
#goToTop {
  padding: 15px;
  border: 2px solid black;
  background: none;
  border-radius: 50%;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 4vh;
  margin-right: 4vh;
}

#goToTop:hover {
  background-color: black;
  color: white;
}

#goToTop:focus {
  outline: none !important;
}
/* #endregion button go to top */

/* #region footer */
.footer {
  padding: 1vh 0 1vh 0;
  display: flex;
  justify-content: center;
}

.footer img {
  max-width: 1.2em;
  object-fit: contain;
  margin-left: 1vw;
}

.footer p {
  font-weight: 400;
  letter-spacing: .1em;
  font-size: .9rem;
}
/* #endregion footer */

/* #region mobile version */
@media screen and (max-width: 900px){

body{
  background-image: none;
}

.mainPageContainer {
  padding: 10%;
}

.intro {
  padding: 5vh 0 5vh 0;
}

.flex-item {
  margin: 2vh 0 5vh 0;
  height:
}

.txt {
  padding: 0;
}

.txtContainer p {
  margin: none;
  line-height: normal;
}

.left, .right {
  margin-top: 0;
}


/* #endregion mobile version */
