@font-face {
  font-family: Ubuntu Regular;
  src: url(Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(Lato/Lato-Light.ttf);
}

html {
  cursor: url("cursors/cursor_circle.svg") 5 5, auto;
}

body{
  margin: 0;
  padding: 0;
  background-color: none;
  animation-name: fade-in;
  animation-duration: 1.5s;
  background-image: url("backgrounds/background-green-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center; /* Center the image */
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}


/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  padding-right: 50px;
  font-size: 10pt;
  font-family: "Segoe Ui Light", Arial;
  letter-spacing: 2pt;
  z-index: 1;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  z-index: 2;
}

li a:hover {
  border-bottom: white solid 2px;
  font-weight: bold;
  cursor: none;
  color: white;
}

.nav-title {
  margin-left: 75px;
  font-family: "Ubuntu Regular", Arial;
  font-weight: 600;
  letter-spacing: 4pt;
  font-size: 12pt;
}

.active {
  font-weight: bold;
}

.nav-title:hover {
  border: none;
}

p {
  font-size: calc(0vw + 1rem);
  font-family: "Lato", Arial;
  letter-spacing: 0;
}

/* Main page container */
.mainPageContainer{
  padding: 60px 15% 60px 15%;
  width: auto;
  height: 100%;
  background-color: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  -webkit-animation: fadein 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s ease; /* Firefox < 16 */
        -ms-animation: fadein 1.5s ease; /* Internet Explorer */
         -o-animation: fadein 1.5s ease; /* Opera < 12.1 */
            animation: fadein 1.5s ease;
}

@keyframes fadeindown  {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.flex-item {
  position: relative;
  width: 500px;
  height: 650px;
  object-fit: cover;
  margin: 50px;
  overflow: hidden;
  align-content: center;
  display: flex;
  border-radius: 0px;
  /* animation of the fade in js */
  -webkit-transition-duration: .2s; /* Safari */
  transition-duration: .2s;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
}

.flex-item p {
  text-align: left;
}

.left {
  left: -20%;
}

.right {
  right: -20%;
}

.flex-img {
  background-color: #f2ede4;
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: 500px;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  z-index: -4;
  -webkit-transition-duration: .4s; /* Safari */
  transition-duration: .4s;
}

.txtContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  overflow: hidden;
  width: 100%;
  height: 150px;
  transition: .6s ease;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  opacity: 0.8;
  z-index: 0;
}

.txt {
  color: black;
  font-size: 20px;
  padding: 8px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  letter-spacing: 0;
  z-index: 0;
  font-weight: lighter;
}

.h1 {
  color: black;
  font-size: 20px;
  padding: 0;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  font-family: "Ubuntu Regular", Arial;
  letter-spacing: .1em;
  z-index: 0;
}

.h2 {
  color: black;
  font-size: 20px;
  padding: 0;
  line-height: 2;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  font-family: "Ubuntu Regular", Arial;
  font-weight: bold;
  letter-spacing: .1em;
  z-index: 0;
}

.header {
  font-size: calc(.96vw + 1rem);
  line-height: 1.452;
  font-family: "Ubuntu Regular", Arial;
  font-weight: 400;
  letter-spacing: .1em;
}

.intro {
  padding: 150px 0 150px 0;
  max-width: 100%;
  height: auto;
  text-align: left;
  align-items: left;
  align-content: left;
  justify-content: left;
}

/* white font under circle */
.txtContainer:hover .txt, .txtContainer:hover .h2{
  color: white;
  -webkit-transition-duration: .2s; /* Safari */
  transition-duration: .2s;
  cursor: none;
}


/* Circle cursor */
.circle {
	position: absolute;
  border: solid 1px none;
  background-color: #f2ede4;
	width: 50px;
	height: 50px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in;
  -webkit transition: all 0.3s ease-in;
  transition-property: background,transform, cursor;
  -webkit transition-property: background,transform, cursor;
}
