body{
  margin: 0;
  padding: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

.header {
  font-size: calc(.96vw + 1rem);
  line-height: 1.452;
  font-family: "Ubuntu Regular", Arial;
  font-weight: 400;
  letter-spacing: .1em;
  text-align: left;
  width: 100%;
}

.header:hover {
  /* color: white; */
  transition: all 0.5s ease-in-out;
  -webkit transition: all 0.5s ease-in-out;
  cursor: none;
}

.headerContainer {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  z-index: 1;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  padding-left: 50px;
  align-items: center;
  align-content: center;
  padding-right: 50px;
  padding-top: 50px;
  margin: 50px;
  height: 600px; /* Should be removed. Only for demonstration */
}

.column p {
  align-self: center;
  vertical-align:

}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/* Main page container */
.mainPageContainer{
  /* padding: 60px 15% 60px 15%; */
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 0;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  -webkit-animation: fadein 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s ease; /* Firefox < 16 */
        -ms-animation: fadein 1.5s ease; /* Internet Explorer */
         -o-animation: fadein 1.5s ease; /* Opera < 12.1 */
            animation: fadein 1.5s ease;
}

@keyframes fadeindown  {
    from { opacity: 0; }
    to   { opacity: 1; }
}
