.nav-center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
 #country_select {
  background-color: transparent;
  border: none;
  height: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 3.5vh 7px;
  margin: 0 20px;
 }

#country_select:focus {
  outline: none !important;
  box-shadow: none !important;
}

#country_select option {
  text-align: left !important;
}

.shop {
    border-left: none;
    padding: 3.5vh 40px 3.5vh 40px;
    margin: 0;
    height: 100%;
}

.lang-me {
  color: #fff;
}