* { box-sizing: border-box }

body {
  transition: background .2s ease-in-out;
  background-color: #CEC5BB;
}




/*

p {
  color: #ecf0f1;
  font-size: 2em;
  text-align: center;

}

span {
  clear: both;
  font-size: .7em;
  color: #bdc3c7;
}


.slide {

  .inside {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 3em;

    p {
      display: table-cell;
      width: 100%;
      clear: both;
      vertical-align: middle;
      text-align: center;
    }
  }

}
*/
