model-viewer {
  background-color: #CCD8CA !important;
}

.splash img { background-color: #CCD8CA }

.sectionTxt {
  padding: 10vh 13vw 10vh 13vw;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
}
.sectionTxt h2 {
  margin-bottom: 5vh;
}
.sectionTxt h5 {
  width: 50%;
}

.scenario {
  padding: 10vh 7vw 0 7vw;
  width: 100%;
  height: 100%;
}
.scenario img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instructions {
  padding: 10vh 13vw 10vh 13vw;
  width: 100%;
  height: 100%;
}
.instructions .left, .instructions .right {
  width: 50%;
}
.instructions h5 {
  margin-top: 2vh;
  width: 80%;
}
.instructions li {
  margin-bottom: 5vh;
}

/* #region caracteristics */

.caracteristics {
  padding: 15vh 13vw 15vh 13vw;
  background-color: #F6F6F6;
  width: 100%;
}

.caracteristics img {
  max-width: 100%;
  background-color: #CCD8CA;
}

.caracteristics .left, .caracteristics .right {
  width: 50%;
}

.caracteristics .left {
  padding-right: 5vw;
}

.caracteristics p {
  width: 70%;
  margin-top: 3vh;
}

.caracteristics h2 {
  margin: 0;
}

.caracteristics img {
  border-radius: 7px;
}

.cutting-board { padding-top: 10vh }

.screen { padding-bottom: 10vh }

.caracteristics h5 {
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 60%;
  line-height: 120%;
}

.mockup {
  background-color: #F6F6F6;
}

/* #endregion caracteristics */

/* #region goal */
.goal .sectionTxt, .goal { background-color: #fff; }

.goal .sectionTxt {
  padding: 10vh 13vw 0 13vw;
  width: 100%;
  height: 100%;
}
.goal .sectionTxt h2 {
  margin-bottom: 10vh;
}
.goal .sectionTxt h5 {
  width: 50%;
}

.goal .scenario {
  padding: 0 7vw 10vh 7vw;
  width: 100%;
  height: 100%;
}
.goal .scenario img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.goal .scenario p {
  width: 50%;
  margin-top: 3vh;
}
/* #endregion goal */

/* #region1 */
.sustainable {
  padding: 15vh 13vw 5vh 13vw;
  background-color: #EDEDED;
  width: 100%;
}

.sustainable img {
  max-width: 100%;
  margin-bottom: 5vh;
  border-radius: 7px;
}

.sustainable .left, .sustainable .right {
  width: 50%;
}

.sustainable p {
  width: 70%;
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.sustainable h2 {
  margin: 0;
}

.sustainable h5 {
  margin-bottom: 2vh;
  /* margin-bottom: 0;*/
  width: 60%;
  line-height: 120%;
}

.sustainable .left {
  padding-right: 1vh;
}

.sustainable .right {
  padding-left: 1vh;
}

.sustainable h2, .sustainable p {
  width: 50%;
}

.sustainable img {
  background-color: #E8F1E3;
}

/* #endregion1 */

.videoSection h2 {
  margin-bottom: 2vh;
}

.videoSection video {
  width: 100%;
  margin-top: 5vh;
  border-radius: 10px;
}

.videoSection .sectionTxt {
  padding: 10vh 13vw 10vh 13vw;
}

.blue, .blue .sectionTxt {
  background-color: #D8E0F1;
}

.sectionRedirect { background-color: #F6F6F6 }

@media screen and (max-width: 900px){

  .splash {height: 100%;}

  .sectionTxt, .goal, .sustainable, .videoSection .sectionTxt, .caracteristics { padding: 5vh 7vw;}

  .sectionTxt h5 { width: 100%;}

  .goal .sectionTxt, .goal .scenario { padding: 0}

  .goal .sectionTxt h2 {margin-bottom: 5vh;}

  .sustainable h2, .sustainable h5, .sustainable p {width: 100%;}
  .caracteristics h2, .caracteristics h5, .caracteristics p {width: 100%;}

  .sustainable .left, .sustainable .right {padding: 0}

  .sustainable img {margin-bottom: 2vh;}

  .sustainable p { margin-bottom: 3vh;}
}