model-viewer {
  background-color: #E9E3D4 !important;
}

/* #region sections steps */

.section-header.steps {
    padding-bottom: 10vh;
    padding-top: 15vh;
    background-color: #EDEDED;
    text-align: center;
}

.sectionSteps .description {
  width: 90%;
}

.sectionSteps.right, .sectionSteps.left {
  width: 50%;
}


.section2, .section3, .section4, .section5, .section6, .section7 {
  display: flex;
}

.section2 .column, .section3 .column, .section4 .column, .section5 .column, .section6 .column, .section7 .column {
  width: 50%;
}

.section2 img, .section3 img, .section4 img, .section5 img, .section6 img, .section7 img {
  width: 70%;
}

.section2 img, .section4 img, .section6 img {
  margin-left: 30%;
}

.mobileImg {
  display: none;
}

.desktopImg {
  display: block;
}

.sectionSteps .right {
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
}

.sectionSteps h2, h2.left {
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.sectionSteps h5 {
  line-height: 100%;
}

.sectionSteps .txtContainer.left {
  margin-left: 45%;
  margin-right: 5%;
  border: none;
  text-align: right !important;
}

.sectionSteps .txtContainer.right {
  margin-right: 45%;
  margin-left: 5%;
  border: none;
}

.sectionSteps {
  padding-bottom: 10vh;
  background-color: #EDEDED;
}

/* #endregion sections steps */

.sectionTxt {
  padding: 10vh 13vw 10vh 13vw;
  width: 100%;
  height: 100%;
  display: flex;
}

/* #region caracteristics */

.caracteristics {
  padding: 15vh 13vw 15vh 13vw;
  background-color: #EDEDED;
  width: 100%;
}

.caracteristics img {
  max-width: 100%;
}

.electronics img {
  background-color: #E9E3D4;
}

.plastic img {
  background-color: #E1E8ED;
}

.electronics {
  padding-bottom: 0;
}

.caracteristics .left, .caracteristics .right {
  width: 50%;
}

.caracteristics p {
  width: 70%;
  margin-top: 3vh;
}

.caracteristics h2 { margin: 0; }

.caracteristics h5 { margin-top: 7vh; margin-bottom: 0; }

/* #endregion caracteristics */

.shapes {
  padding: 15vh 13vw 15vh 13vw;
  background-color: none;
  width: 100%;
}
.shapes h2, .shapes p {
  text-align: center;
}

.shapes p {
  width: 50%;
  margin: auto;
}
.shapes img {
  max-width: 100%;
  margin-top: 5vh;
}


/* #region mobile version */

@media screen and (max-width: 900px){

  .section2, .section3, .section4, .section5, .section6, .section7 {
    display: block;
    padding: 5vh 5vw 2vh 5vw;
  }

  .sectionSteps .txtContainer.right, .sectionSteps .txtContainer.left {
    margin: 0;
  }

  .section2 img, .section3 img, .section4 img, .section5 img, .section6 img, .section7 img {
    width: 100%;
    padding: 5%;
    margin: 0;
  }

  .sectionSteps .description-left, .h2-left {
    text-align: left !important;
  }

  .mobileImg {
    display: block;
  }

  .desktopImg {
    display: none;
  }

  .h2, .h2-left {
    margin: 0;
  }

  .first-section .left {
    padding: 0 !important;
  }

  #research {
    display: none;
  }

  .txtContainer2, .shapes {
    padding: 7vh 10vw 7vh 10vw;
  }

  .shapes p {
    width: 100%;
  }

  .section-header.steps {
    padding: 5vh 7vw 2vh 7vw;
    text-align: left;
  }

  .sectionSteps h2, h2.left {
    margin: 2vh 0 3vh 0;
  }

  .sectionSteps .txtContainer.left {
    text-align: left !important;
  }

  .sectionTxt, .caracteristics, .shapes { padding: 5vh 7vw;}

  .caracteristics h5 { margin: 0}

}





/* #endregion mobile version */
